 
 .articl-innner{ 

    margin-bottom: 56px;
 } 
 .articl__inner-label{ 
    display: block; 
    padding: 20px 0 20px 20px;
    outline: none; 
    width: 940px; 
    background: #F4F4F4;
    border-radius: 10px;
 }  
 .articl__inner-svg{ 
    vertical-align: middle;
 }
 .articl__inner-input{  
    vertical-align: middle;
    background: #F4F4F4;
    outline: none; 
    border: none; 
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 19px;
    color: #1F3F68;
    opacity: 0.6;
 }